.venv/
.venv32/
.venv64/
__pycache__/
*.py[cod]
*.log
logs/
ScaleLogger.config.json
presets/*.json
!presets/*.json.example
build/
release/**
dist/
*.build/
*.dist/
*.onefile-build/
*.spec
.nuitka-cache/
