#include <windows.h>

1 ICON "../icon.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,95,0,0
 PRODUCTVERSION 0,95,0,0
 FILEOS 0x40004
 FILETYPE 0x1
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "ScaleLogger"
      VALUE "FileDescription", "ScaleLogger"
      VALUE "FileVersion", "0.95"
      VALUE "ProductName", "ScaleLogger"
      VALUE "ProductVersion", "0.95"
    END
  END
END
